.notificationsContainer {
    padding: 16px;
    max-height: calc(100vh - 240px); /* Ajuste basado en la altura total menos el espacio ocupado */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 100px; /* Mueve la lista hacia abajo 220px desde la parte superior */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 56px; /* Ajustar según la altura deseada del overlay */
    background: rgba(0, 0, 0, 0.5); /* Color de fondo del overlay */
    transition: opacity 0.3s ease; /* Transición suave para el efecto de fade */
    pointer-events: none; /* Evitar que el overlay interfiera con los eventos de scroll */
}


.TituloFechas{
    font-size: 20px;
    margin-bottom: 8px;
    color: white;
    text-align: left;
}

.Grupo {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ocupa el ancho completo para facilitar el alineado */
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.Notificaciones {
    margin: 4px 0;
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.notificationTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


.notificationTime {
    font-size: 12px;
    color: #999;
    margin-top: 8px;
}
