.TareasContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    bottom: 390px;
}

.TareasTitle {
    display: flex;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.TareasTitle button {
    display: flex;
    text-align: right;
    justify-self:right;
}

.TareasTitle h2 {
    display: flex;
    text-align: left;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    
}

.expand-button {
    text-decoration: none;
    color: #9ca3af;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
    font-size: 0.875rem;
    width: 5rem;
    text-align: right;
}

.expand-button:hover {
    color: #f3f4f6;
}

.CardContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    left: 10px;
    padding: 0px 20px;
    white-space: nowrap;
    overflow: hidden;
}


.CardScroller {
    display: flex;
    gap: 15px;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.CardScroller::-webkit-scrollbar {
    display: none;
}



.CardScroller::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}



.CardTarea {
    min-width: 178px;
    height: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(158, 161, 162, 0.14);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    flex-shrink: 0; /* Evita que las tarjetas se encojan */
}

.CardTarea ul {
    margin-bottom: 0.5rem;
}