.standingsContainer {
    position: absolute;
    top: 348px;
    width: 370px;
    height: 380px;
    background-color: rgba(158, 161, 162, 0.14);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.standings {
    font-size: 18px;
    text-align: center;
}
