.ProfileContainer{
    background: linear-gradient(to bottom right, #1E1C1D, #183232, #183433, #112928, #1B1A1C);
    
    width: 100vw;
    height: 100vh; /* Usa height para ocupar toda la altura de la ventana */
    /* Asegura que ocupe todo el ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

