.LogrosContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 5px;
    top: 540px;
}

.LogrosTitle{
    display: flex;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.LogrosTitle button{
    display: flex;
    text-align: right;
    justify-self:right;
    
}

.LogrosTitle h2{
    display: flex;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;

}

.CardLogrosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    left: 10px;
    padding: 0px 20px;
    white-space: nowrap;
    overflow: hidden;
}

.CardLogrosScroller {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.CardLogrosScroller::-webkit-scrollbar {
    display: none;
}

.CardLogro {
    min-width: 178px;
    height: 150px;
    background-color: rgba(158, 161, 162, 0.14);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
}


.expand-button{
    text-decoration: none;
    color: #9ca3af;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.3s ease;
    font-size: 0.875rem;
    width: 5rem; /* Fixed width */
    text-align: right;
    
}

.expand-button:hover {
    color: #f3f4f6;
  }