.LogrosContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogrosTitle{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 60px;
}

.LogrosTitle a{
    position: relative;
    left: 130px;
}

.LogrosTitle h2{
    position: absolute;
    right: 125px;
}

.CardLogros{
    position: absolute;
    width: 340px;
    height: 180px;
    background-color: rgba(158, 161, 162, 0.14); /* Color con 14% de opacidad */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    border-radius: 10px;
    color: #FFFFFF;
    top: 100px;
}