.smallSections {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.inicio, .tareas, .beneficios {
    font-size: 17.22px;
    color: #8E8989;
    flex: 1;
    background: none;
    box-shadow: none;
    padding: 10px;
    text-align: center;
}